/*WHO ARE WE*/

body { 
	margin:0; 
	padding:0; 
}

.container-fluid {
	background: rgb(48, 81, 194);
	padding:0;
}

.col-md-6 .whatContent {
	margin: 10px 170px 120px 0;
}
h6, a {
	color: white;
	font-weight: 300;
	margin-left: 20px;
    margin-top: 25px;
}
h6, a:hover {
	color: rgb(192, 196, 196);
}

h3 {
	margin-bottom: 150px;
	margin-right: 10px;
	color: white;
}

p, ul, li {
	color: white;
	text-align: justify;
}